* {
  font-family: "Kanit", sans-serif, Courier, monospaces;
}

body {
  background: #FFFCF8;
}

.tasks {
  display: block;
  overflow: auto;
  z-index: 800;
  background: #f9f9f9;
  position: fixed;
  width: 60vw;
  height: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 21px;
  border-style: solid;
  border-width: 0.3vh;
  border-color: #243B4A;
  top: calc(9vh + (2rem + 3.467vh) / 2);
}
.tasks .newtask {
  margin-left: 1.96vw;
  margin-top: 1.4vh;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: calc(2rem + 3.467vh);
}
.tasks .newtask:first-of-type {
  margin-top: calc(2rem + 3vh);
}
.tasks .newtask .mycheckbox {
  background-color: red;
  width: 37px;
  outline: none;
  border-style: none;
  border-width: 2px;
}
.tasks .newtask .text {
  color: #243B4A;
  width: 95%;
  background: #FFFCF8;
  border-radius: 10px;
  border-width: 0.3vh;
  border-color: #5F7682;
  text-indent: 2vw;
}
.tasks .newtask .text:focus {
  outline: none;
}
.tasks .newtask .text:not(:-moz-read-only) {
  color: red;
}
.tasks .newtask .text:not(:read-only) {
  color: red;
}
.tasks .actions {
  margin-left: -15px;
  background-color: #6A0136;
}
.tasks .actions .myButton {
  background-color: #FFFCF8;
  border-style: none;
  transition: background ease-out 0.3s;
  max-width: 15em;
  margin-top: -1.2vh;
  margin-left: -20px;
  width: calc(5vw + 1rem);
  height: calc(2vh + 1rem);
  font-size: calc(1vw + 1vh);
  margin-bottom: 2rem;
  text-align: center;
  color: #f9f9f9;
}
.tasks .actions .myButton:hover {
  opacity: 0.8;
}
.tasks .actions .myButton:active {
  opacity: 0.5;
}
.tasks .actions .delete-btn {
  position: absolute;
  visibility: hidden;
}
.tasks .actions .in-edit-delete {
  background-color: #6A0136;
  animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  visibility: visible;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1.5px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1.5px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-0.8px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(0.8px, 0, 0);
  }
}

.bar {
  z-index: 1000;
  position: fixed;
  display: flex;
  width: 40vw;
  height: 5.1vh;
  height: calc(2rem + 3.467vh);
  background: #FFFCF8;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 17.44px;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 0.3vh;
  border-color: #243B4A;
  top: 9vh;
  min-height: 3.5rem;
}
.bar .myButton {
  color: #243B4A;
  width: 50px;
  font-weight: bold;
  margin-right: 2vw;
  min-height: 2rem;
}
.bar .myButton:hover {
  color: #5F7682;
}
.bar .search-wrapper {
  margin: auto;
  width: 100%;
  display: flex;
}
.bar .search-wrapper .search {
  position: relative;
  width: 100%;
  height: 4.3vh;
  background: #FFFCF8;
  background-color: transparent;
  color: #243B4A;
  border-radius: 10px;
  border-style: none;
  text-indent: 3.5vw;
  min-height: 3.5rem;
}
.bar .search-wrapper .search:focus {
  outline: none;
}
.bar .search-wrapper .req_placeholder {
  margin-left: -100%;
  position: flex;
  pointer-events: none;
  line-height: 2vh;
  background: transparent;
  text-indent: 3.5vw;
  padding-top: 3%;
  width: 100%;
  color: #5F7682;
  position: absolute;
  right: -0.4%;
  bottom: 1.5vh;
  font-size: 15px;
  line-height: 3vh;
  position: absolute;
  right: -0.5%;
  bottom: calc(1.48rem - 1vh);
}
.bar .search-wrapper .in-edit-search {
  background-color: red;
}

input[required=required]:valid + .req_placeholder {
  display: none;
}

.typed-cursor {
  display: none;
}

.myButton {
  width: 3vw;
  height: 4vh;
  background: #FFFCF8;
  margin: auto;
  border-radius: 15px;
  border-width: 0;
}
.myButton .plus-btn {
  width: 100%;
  height: 100%;
  background: #FFFCF8;
  border-radius: inherit;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .bar {
    width: 60vw;
  }
  .bar .myButton {
    position: absolute;
    right: 0;
    top: 20%;
    width: 12vw;
    height: 3vh;
    line-height: 1rem;
    font-size: 15px;
  }
  .bar .search-wrapper .search {
    width: 76%;
    font-size: 15px;
  }
  .bar .search-wrapper .search:focus {
    outline: none;
  }
  .bar .search-wrapper .req_placeholder {
    font-size: 15px;
    line-height: 3vh;
    position: absolute;
    right: -0.5%;
    bottom: calc(1.48rem - 1vh);
  }
  .tasks {
    width: 75vw;
  }
  .tasks .newtask {
    margin-left: 5vw;
    width: 65vw;
  }
  .tasks .newtask .text {
    font-size: 15px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .bar {
    width: 60vw;
  }
  .bar .myButton {
    position: absolute;
    right: 0;
    top: 20%;
    width: 10vw;
    height: 3vh;
    line-height: 2vh;
    font-size: 18px;
  }
  .bar .search-wrapper .search {
    font-size: 18px;
    width: 78%;
  }
  .bar .search-wrapper .req_placeholder {
    font-size: 18px;
    line-height: 3vh;
    position: absolute;
    right: -0.5%;
    bottom: calc(1.48rem - 1vh);
  }
  .tasks {
    width: 75vw;
  }
  .tasks .newtask {
    margin-left: 5vw;
    width: 65vw;
  }
  .tasks .newtask .text {
    font-size: calc(10px + 1vh);
  }
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
}
@media only screen and (min-width: 600px) and (min-width: 768px) {
  .bar {
    background-color: #FFFCF8;
    width: 60vw;
  }
  .bar .myButton {
    position: absolute;
    right: 0;
    top: 20%;
    width: 12vw;
    height: 3vh;
    line-height: 2vh;
    font-size: 20px;
  }
  .bar .search-wrapper .search {
    width: 75%;
    font-size: 20px;
  }
  .bar .search-wrapper .req_placeholder {
    font-size: 20px;
    line-height: 3vh;
    position: absolute;
    right: -0.5%;
    bottom: calc(1.48rem - 1vh);
  }
  .tasks {
    width: 75vw;
  }
  .tasks .newtask {
    margin-left: 5vw;
    width: 65vw;
  }
  .tasks .newtask .text {
    font-size: calc(10px + 1vh);
  }
}
@media only screen and (min-width: 600px) and (min-width: 992px) {
  .bar {
    width: 60vw;
  }
  .bar .myButton {
    position: absolute;
    right: 0;
    top: 20%;
    width: 10vw;
    height: 3vh;
    line-height: 2vh;
    font-size: 22px;
  }
  .bar .search-wrapper .search {
    width: 78%;
    font-size: 22px;
  }
  .bar .search-wrapper .req_placeholder {
    font-size: 22px;
    line-height: 3vh;
    position: absolute;
    right: -0.5%;
    bottom: calc(1.48rem - 1vh);
  }
  .tasks {
    width: 73vw;
  }
  .tasks .newtask {
    margin-left: 5vw;
    width: 65vw;
  }
  .tasks .newtask .text {
    font-size: calc(10px + 1vh);
  }
  .tasks .actions .myButton {
    line-height: 2px;
    text-align: center;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) *//*# sourceMappingURL=costum.css.map */